<?xml version="1.0"?>
<robot name="cobraflex_robot" xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:include filename="$(find cobraflex)/urdf/robot.gazebo" />
    <xacro:include filename="inertial_macros.xacro" />
    
    <xacro:property name="chassis_length" value="0.228" />
    <xacro:property name="chassis_width" value="0.130" />
    <xacro:property name="chassis_height" value="0.120" />
    <xacro:property name="chassis_mass" value="5.0" />
    
    <xacro:property name="wheel_radius" value="0.03725" /> 
    <xacro:property name="wheel_width" value="0.02" />
    
    <xacro:property name="wheel_off_x" value="0.060" /> 
    <xacro:property name="wheel_off_y" value="${(chassis_width/2) + (wheel_width/2) + 0.002}" /> 

    <xacro:macro name="chassis_template" params="length width height mass">
        <link name="chassis">
            <visual>
                <origin xyz="0 0 ${height/2}"/>
                <geometry>
                    <box size="${length} ${width} ${height}"/>
                </geometry>
                <material name="grey" />
            </visual>
            <collision>
                <origin xyz="0 0 ${height/2}"/>
                <geometry>
                    <box size="${length} ${width} ${height}"/>
                </geometry>
            </collision>
            <xacro:inertial_box mass="${mass}" x="${length}" y="${width}" z="${height}">
                <origin xyz="0 0 ${height/2}" rpy="0 0 0"/>
            </xacro:inertial_box>
        </link>
    </xacro:macro>

    <xacro:macro name="wheel_link" params="prefix x_location y_location">
        <joint name="${prefix}_wheel_joint" type="continuous">
            <parent link="chassis"/>
            <child link="${prefix}_wheel"/>
            <origin xyz="${x_location} ${y_location} 0" rpy="-${pi/2} 0 0"/>
            <axis xyz="0 0 1"/>
        </joint>

        <link name="${prefix}_wheel">
            <visual>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
                </geometry>
                <material name="grey" />
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
                </geometry>
            </collision>
            <xacro:inertial_cylinder mass="0.1" length="${wheel_width}" radius="${wheel_radius}">
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </xacro:inertial_cylinder>
        </link>

        <gazebo reference="${prefix}_wheel">
            <mu1>0.8</mu1>
            <mu2>0.8</mu2>
        </gazebo>
    </xacro:macro>

    <link name="base_link">
    </link>

    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="0 0 ${wheel_radius}"/> 
    </joint>

    <xacro:chassis_template 
        length="${chassis_length}" 
        width="${chassis_width}" 
        height="${chassis_height}" 
        mass="${chassis_mass}"/>

    <xacro:wheel_link prefix="front_left" x_location="${wheel_off_x}" y_location="${wheel_off_y}" />
    <xacro:wheel_link prefix="front_right" x_location="${wheel_off_x}" y_location="-${wheel_off_y}" />
    <xacro:wheel_link prefix="rear_left" x_location="-${wheel_off_x}" y_location="${wheel_off_y}" />
    <xacro:wheel_link prefix="rear_right" x_location="-${wheel_off_x}" y_location="-${wheel_off_y}" />

    <gazebo reference="base_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
    </gazebo>
    
    <gazebo reference="chassis">
        <material name="grey" />
    </gazebo>

    <link name="lidar_link">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <cylinder length="0.04" radius="0.0375"/>
            </geometry>
                <material name="blue" />
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <cylinder length="0.04" radius="0.0375"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.190" length="0.04" radius="0.0375">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <joint name="lidar_joint" type="fixed">
        <parent link="chassis"/>
        <child link="lidar_link"/>
        <origin xyz="0 0 ${chassis_height + 0.02}" rpy="0 0 0"/>
    </joint>

    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.01 0.1 0.02"/>
            </geometry>
            <material name="yellow" />
        </visual>
        <collision>
             <geometry>
                <box size="0.01 0.1 0.02"/>
            </geometry>
        </collision>
    </link>

    <joint name="camera_joint" type="fixed">
        <parent link="chassis"/>
        <child link="camera_link"/>
        <origin xyz="${chassis_length/2} 0 ${chassis_height - 0.01}" rpy="0 0 0"/>
    </joint>

    <link name="camera_link_optical"></link>

    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="imu_link" />

    <joint name="imu_joint" type="fixed">
        <origin xyz="0 0 ${chassis_height/2}" rpy="0 0 0" />
        <parent link="chassis"/>
        <child link="imu_link" />
    </joint>



</robot>