<?xml version="1.0"?>

<robot name="stereolabs_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="camera_name"   default="zed" />
  <xacro:arg name="camera_model"  default="zedm" />
  <xacro:arg name="custom_baseline"  default="0.0" />
  
  <!-- If GNSS fusion is enabled the position of the antenna with respect to the camera mount point is required -->
  <xacro:arg name="enable_gnss"   default="false" />
  <xacro:arg name="gnss_x" default="0.0" />
  <xacro:arg name="gnss_y" default="0.0" />
  <xacro:arg name="gnss_z" default="0.0" />

  <xacro:include filename="$(find cobraflex)/urdf/zed_macro.urdf.xacro" />
  <!-- This wrapper is included ONLY by my_robot_basic.urdf, the RViz/hardware
       description. mat_override lifts the zedm shell off rgba 0,0,0, which
       RViz shades to an unlit void at the very front of the robot. The Gazebo
       URDFs include zed_macro directly and so keep the stock colour. -->
  <xacro:zed_camera name="$(arg camera_name)" model="$(arg camera_model)" custom_baseline="$(arg custom_baseline)" enable_gnss="$(arg enable_gnss)" mat_override="0.22 0.23 0.27 1.0">
	    <origin xyz="$(arg gnss_x) $(arg gnss_y) $(arg gnss_z)" rpy="0 0 0"/>
  </xacro:zed_camera>
</robot>
